.pic1 {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 85%;
}

.pic1.is-flipped {
  transform: rotateY(180deg);
}

.pic1__face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pic1__face--back {
  transform: rotateY(180deg);
}

.pic2 {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 85%;
}

.pic2.is-flipped {
  transform: rotateY(180deg);
}

.pic2__face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pic2__face--back {
  transform: rotateY(180deg);
}

.pic3 {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 85%;
}

.pic3.is-flipped {
  transform: rotateY(180deg);
}

.pic3__face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pic3__face--back {
  transform: rotateY(180deg);
}

body {
  background-color: #fef3be;
  font-family: "Oxygen", sans-serif;
}

.gold {
  border-style: solid;
  border-color: #C9B037;
  border-width: 12px;
}

.silver {
  border-style: solid;
  border-color: #D7D7D7;
  border-width: 12px;
}

.bronze {
  border-style: solid;
  border-color: #AD8A56;
  border-width: 12px;
}

.col {
  padding: 15px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  height: 380px;
}

p{
  text-align: center;
  font-style: italic;
}

h1{
  font-size: 48px;
}

h3{
  font-size: 20px;
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 85%;
}

.jumbotron{
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.footer {
  height: 30px;
}
